<div class="grid m-5 place-items-center">
<form class="w-full max-w-md p-5 border-2 rounded-md">
    <h2 class="text-center font-bold text-xl m-5">Crea nuovo post</h2>
    <div class="md:flex md:items-center mb-6">
      <div>
        <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-14" for="title_data">
          Titolo
        </label>
      </div>
      <div class="md:w-2/3">
        <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="title_data" #title_data type="text" placeholder="Titolo">
      </div>
    </div>
    <div class="md:flex md:items-center mb-6">
      <div>
        <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="short_text_data">
          Testo breve
        </label>
      </div>
      <div class="md:w-2/3">
        <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="short_text_data" #short_text_data type="text" placeholder="Scrivi qualcosa...">
      </div>
    </div>
    <div class="md:flex md:items-center mb-6">
      <div>
        <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-16" for="text_data">
          Testo
        </label>
      </div>
      <div class="md:w-2/3">
        <textarea class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="text_data" #text_data type="text" placeholder="Scrivi qualcosa..." rows="4" cols="50"></textarea>
      </div>
    </div>
    <div class="md:flex md:items-center mb-6">
      <div>
        <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-7" for="image_data">
          Immagine
        </label>
      </div>
      <div class="md:w-2/3">
        <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="image_data" #image_data type="file" accept="image/*">
      </div>
    </div>
    <div *ngIf="this.user_info.member" class="md:flex md:items-center mb-6">
      <div class="md:w-1/4"></div>
      <label class="md:w-3/4 block text-gray-500 font-bold">
        <input class="mr-2 leading-tight" type="checkbox" #members_only>
        <span class="text-sm">
          Visibile solo ai membri
        </span>
      </label>
    </div>
    <div *ngIf="this.user_info.premium" class="md:flex md:items-center mb-6">
      <div class="md:w-1/4"></div>
      <label class="md:w-3/4 block text-gray-500 font-bold">
        <input class="mr-2 leading-tight" type="checkbox" #premium>
        <span class="text-sm">
          Post premium
        </span>
      </label>
    </div>
    <div class="md:flex md:items-center">
      <div class="md:w-2/5"></div>
      <div class="md:w-2/5">
        <button (click)="createPost()" class="shadow bg-blue-500 hover:bg-blue-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="button">
          Invia
        </button>
      </div>
    </div>
  </form>
</div>
<div *ngIf="this.post_added">
  Post aggiunto con successo!
</div>